/* The {% static %} template tag is not available for use in static files, so use relative paths */

/* importing font */
@font-face{
    font-family:"soft_curve";
    src:url("soft_curve.ttf") format("truetype");
}



body {
    background: white url("images/background2.jpg") no-repeat;
    background-size: cover;

    font-family: "soft_curve";
}



#content {
    margin: 80px 100px 80px 100px; /* fallback */
    margin: 4em 5em 4em 5em;
}




/* form styles */

.form {
    font-size: 16px; /* fallback */
    font-size: 1em;
    letter-spacing: .3px;
    line-height: 20px;
}

input {
    vertical-align: text-bottom;
    font-size: 16px; /* fallback */
    font-size: 1em;
    letter-spacing: .3px;
    line-height: 20px;
    font-family: "soft_curve";
    padding: 2px 5px 1px 5px;
    border-radius: 6px;
    border: 1px solid black;
}

button {
    vertical-align: text-bottom;
    font-size: 16px; /* fallback */
    font-size: 1em;
    letter-spacing: .3px;
    line-height: 20px;
    font-family: "soft_curve";
    border-radius: 6px;
    padding: 2px 5px 1px 5px;
    border: 1px solid black;
}

label {
    vertical-align: text-bottom;
}

.errorlist {
    display: inline-block;
    margin: 5px 0px 5px 0px;
    padding: 0px 0px 0px 0px;
}

.errorlist > li {
    display: inline-block;
    padding: 2px 5px 1px 5px;
    border: 1px solid red;
    border-radius: 6px;
    color: red;
    vertical-align: text-bottom;
}



/* expandy divs */
.expand {
    display: block;
    border-radius: 6px;
    background-color: #d3d7e5;
    padding: 9px 12px 9px 12px;
    overflow: hidden;
    margin: 10px 0px 10px 0px;
    word-break: break-word;
}


/* non-form content */
.error {
    padding: 2px 5px 1px 5px;
    border: 1px solid red;
    border-radius: 6px;
    color: red;
    /* vertical-align: text-bottom; */
    display: inline-block;
    margin: 5px 0px 5px 0px;
}