<!DOCTYPE html>
<html lang="en-US">
<head>

    {% load static %}

    <meta charset="utf-8">
    
    <link rel="shortcut icon" href="{% static '/images/favicon.ico' %}" type="image/x-icon">
    <title>Web App • {% block title %}Home{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <script src="{% static 'jquery-3.7.1.min.js' %}"></script>
    <!-- cached google version -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>-->

    <script src="{% static 'ajax.js' %}"></script>
    <script src="{% static 'general.js' %}"></script>

</head>
<body>

    <div id="ui">
    {% block ui %}
    {# ui goes here #}
    {% endblock ui %}
    </div>

    <div id="content">
    {% block content %}
    {# default content #}
    {% endblock content %}
    </div>

    {% block scripts %}
    {% endblock scripts %}

</body>
</html>
