{% if not get_view %}
{% if not form.errors %} {# if the form had errors, we didn't get any data anyways #}

    {% if weather.error %}

        <div class="error">Error! {{ weather.error }}</div><br>

    {% else %}

        Zipcode: {{ weather.zipcode }}<br><br>
        Location: {{ weather.region }}<br>
        Temperature: {{ weather.temp_f }}°F<br>
        Weather: {{ weather.condition }}<br>
        Wind: {{ weather.wind_mph }} MPH<br>
        Humidity {{ weather.humidity }}<br><br>

    {% endif %}

    <button onclick="expand_next(this);">see details</button>
    <div class="expand" style="display: none;">

        any errors: {{ weather.error }}<br><br>

        did we get data from cache? {{ weather.from_cache }}<br>
        did we get data from api? {{ weather.from_api }}<br><br>

        raw data fetched:<br>{{ weather.raw_data_json_string }}

        {% if weather.error %}
            <br><br>
            Zipcode: {{ weather.zipcode }}<br><br>
            Location: {{ weather.region }}<br>
            Temperature: {{ weather.temp_f }}°F<br>
            Weather: {{ weather.condition }}<br>
            Wind: {{ weather.wind_mph }} MPH<br>
            Humidity {{ weather.humidity }}
        {% endif %}

    </div>
    <br>
    <br>

{% endif %}
{% endif %}




<div class="form">
    <input type="hidden" class="target_url" value="{% url 'weather_ajax' %}">
    {% csrf_token %}
    {{ form }}
    <button>submit</button>
</dic>


